/* @override http://localhost/georss.org/github/georss/global.css */

body {
  font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
  font-size: 11pt;
  margin-left: 24px;
  margin-right: 24px;
}

h1, h2, h3, h4, h5, #Menu, .nav {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #369;
}
h1 { font-size: 20pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }

a { color:#369; }
a:visited { color:#369; }

pre {
  background-color: #ffffed;
  /*background-color: #ebf8fe;*/
  font-family: "Courier New", Courier, mono;
  font-size: 10pt;
  width: 620px;
  padding: 1em;
  border-bottom-style: solid;
  /*border-bottom-color: #ff9b9d;*/
  border-bottom-color: #fee0a4;
  border-top-color: #fee0a4;
}
/*old-pre strong {
	color: #369;
	font-weight: bold;
}*/
.note {
	color: #fff;
	font-weight: normal;
	font-style: italic;
}
/*.note-old {
	background-color: #FFFFCC;
	border: 2px solid #FFFF66;
	padding: 4px;
}*/

.headcat {
	/*background-color: #99CC66;*/
  border-bottom-style: dotted;
  border-bottom-color: #99CC66;
  border-bottom-width: 4px;
}

.nav {
	text-align:right;
	color: #fff;
	background: #2d6795;
	padding:6px;
	/*position: absolute;*/
}
.nav a, .nav a:visited, #Menu a, #Menu a:visited {
  color: #fff;
}

#Menu {
  overflow:auto;
  width:184px;
  float:right;
   /*top:80px;*/
   color: #fff;
   background: #2d6795;
   border:0px solid #fff;
   padding:8px;
   /*padding-right: 0px;*/
   margin-left: 24px;
   margin-right: 0px;
  z-index:1;
}

#Credits {
	overflow:auto;
	width:160px;
	float:right;
	position:relative;
	top:auto;
	padding:8;
	background: #9c6;
	color: #000;
	border:0px solid #000;
	line-height:1.0em;
	font-size: 10px;
	z-index:1;
}

#Menu2 {
   overflow:auto;
	width:160px;
	position:absolute; 
	left:500px;
   top:80px;
   float:right;
   margin-right/* hide from IE5.0/Win */ : 2em;
   margin-top: 0.5em;
   bottom:2em;
   padding:8;
   background: #9c6;
   font-size: 12px;
   border:0px solid #fff;
	z-index:1;
}

#Credits2 {
	overflow:auto;
	width:160px;
	position:absolute; 
	left:500px;
	right: 2em;
	top:auto;
	bottom:20px;
	float:right;
	margin-right/* hide from IE5.0/Win */ : 2em;
	margin-top: 0.5em;
	padding:8;
	background: #9c6;
	color: #000;
	border:0px solid #000;
	line-height:1.0em;
	font-size: 10px;
	z-index:1;
}
